In [9]:
import pandas as pd

In [10]:
df= pd.read_csv('time_series.csv')

df

,index,UF,CATEGORIA,JANEIRO,FEVEREIRO,MARÇO,ABRIL,MAIO,JUNHO,JULHO,AGOSTO,SETEMBRO,OUTUBRO,NOVEMBRO,DEZEMBRO,TOTAL,ANO,NOVA_CATEGORIA
0,0,AC,Pessoa física,23.0,16.0,41.0,41.0,29.0,21.0,28.0,50.0,50.0,28.0,30.0,68.0,425.0,2009,NaN
1,1,AC,Segurança Pública,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2009,NaN
2,2,AC,Segurança Privada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2009,NaN
3,3,AC,Órgão Público,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,240.0,240.0,2009,NaN
4,4,AC,Loja de Arma,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2009,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2371,2371,TO,Loja de Arma,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021,Fabricante/Importador
2372,2372,TO,Órgão Público,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021,Órgão público com taxa
2373,2373,TO,Órgão Público,272.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,272.0,2021,Órgão público sem taxa
2374,2374,TO,Outros Tipos,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021,Outras Categorias
2375,2375,TO,Loja de Arma,0.0,0.0,0.0,55.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,55.0,2021,Revendedor

In [17]:
total = df.groupby(['ANO','NOVA_CATEGORIA'],as_index=False).sum()

In [18]:
total.tail()

,ANO,NOVA_CATEGORIA,index,JANEIRO,FEVEREIRO,MARÇO,ABRIL,MAIO,JUNHO,JULHO,AGOSTO,SETEMBRO,OUTUBRO,NOVEMBRO,DEZEMBRO,TOTAL
17,2021,Outras Categorias,60237,0.0,0.0,0.0,20.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0
18,2021,Revendedor,60264,4.0,0.0,0.0,55.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59.0
19,2021,Servidor Público (Porte por prerrogativa de fu...,60048,1479.0,1409.0,1620.0,1348.0,1230.0,1391.0,1424.0,0.0,0.0,0.0,0.0,0.0,9901.0
20,2021,Órgão público com taxa,60183,21.0,7.0,16.0,350.0,0.0,20.0,2.0,0.0,0.0,0.0,0.0,0.0,416.0
21,2021,Órgão público sem taxa,60210,2171.0,2182.0,1258.0,230.0,453.0,2423.0,224.0,0.0,0.0,0.0,0.0,0.0,8941.0

In [20]:
total.ANO = total.ANO.astype('int')
total.TOTAL = total.TOTAL.astype('int')

columns = ['ANO','NOVA_CATEGORIA','TOTAL']

total[columns]

     ANO                                     NOVA_CATEGORIA   TOTAL
0   2020                            Caçador de Subsistência     318
1   2020                                            Cidadão  122378
2   2020                                  Empresa Comercial     225
3   2020                     Empresa com Segurança Orgânica     206
4   2020                       Empresa de Segurança Privada    4650
5   2020                              Fabricante/Importador      27
6   2020                                  Outras Categorias      10
7   2020                                         Revendedor       2
8   2020  Servidor Público (Porte por prerrogativa de fu...   20333
9   2020                             Órgão público com taxa     825
10  2020                             Órgão público sem taxa   37097
11  2021                            Caçador de Subsistência     260
12  2021                                            Cidadão   90254
13  2021                                  Empresa Comercial      10
14  2021                     Empresa com Segurança Orgânica      95
15  2021                       Empresa de Segurança Privada    3205
16  2021                              Fabricante/Importador       0
17  2021                                  Outras Categorias      27
18  2021                                         Revendedor      59
19  2021  Servidor Público (Porte por prerrogativa de fu...    9901
20  2021                             Órgão público com taxa     416
21  2021                             Órgão público sem taxa    8941

In [25]:
total.pivot_table(index=["NOVA_CATEGORIA"], 
                    columns='ANO', 
                    values='TOTAL').to_csv('total.csv')

# Apenas o total

In [15]:
total_ano = df.groupby(['ANO'],as_index=False).sum()

In [23]:
df

,index,UF,CATEGORIA,JANEIRO,FEVEREIRO,MARÇO,ABRIL,MAIO,JUNHO,JULHO,AGOSTO,SETEMBRO,OUTUBRO,NOVEMBRO,DEZEMBRO,TOTAL,ANO,NOVA_CATEGORIA
0,0,AC,Pessoa física,23.0,16.0,41.0,41.0,29.0,21.0,28.0,50.0,50.0,28.0,30.0,68.0,425.0,2009,NaN
1,1,AC,Segurança Pública,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2009,NaN
2,2,AC,Segurança Privada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2009,NaN
3,3,AC,Órgão Público,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,240.0,240.0,2009,NaN
4,4,AC,Loja de Arma,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2009,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2371,2371,TO,Loja de Arma,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021,Fabricante/Importador
2372,2372,TO,Órgão Público,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021,Órgão público com taxa
2373,2373,TO,Órgão Público,272.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,272.0,2021,Órgão público sem taxa
2374,2374,TO,Outros Tipos,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021,Outras Categorias
2375,2375,TO,Loja de Arma,0.0,0.0,0.0,55.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,55.0,2021,Revendedor

In [16]:
total_ano

,ANO,index,JANEIRO,FEVEREIRO,MARÇO,ABRIL,MAIO,JUNHO,JULHO,AGOSTO,SETEMBRO,OUTUBRO,NOVEMBRO,DEZEMBRO,TOTAL
0,2009,13041,823.0,831.0,1481.0,1337.0,1863.0,1288.0,2016.0,3029.0,1473.0,1419.0,1705.0,1702.0,18967.0
1,2010,39285,1080.0,2691.0,1561.0,1279.0,1749.0,1181.0,1827.0,1571.0,2044.0,1832.0,3641.0,2078.0,22534.0
2,2011,65529,1482.0,1554.0,1503.0,1420.0,1636.0,2070.0,1691.0,2107.0,3371.0,2052.0,2957.0,4643.0,26486.0
3,2012,91773,1824.0,1677.0,2267.0,2402.0,2361.0,2691.0,2828.0,4135.0,2957.0,2681.0,3579.0,7712.0,37114.0
4,2013,118017,2611.0,2154.0,2382.0,2257.0,2715.0,3988.0,2302.0,2853.0,3038.0,2513.0,2578.0,5063.0,34454.0
5,2014,144261,1871.0,2627.0,2536.0,3368.0,2638.0,2541.0,2763.0,3317.0,3230.0,4386.0,5157.0,5509.0,39943.0
6,2015,170505,3351.0,3352.0,4145.0,4646.0,4062.0,3601.0,4998.0,4501.0,4013.0,4521.0,4004.0,4691.0,49885.0
7,2016,196749,3037.0,2871.0,4163.0,3945.0,4934.0,3739.0,4028.0,4152.0,3794.0,2959.0,3414.0,3876.0,44912.0
8,2017,222993,3291.0,3158.0,3880.0,3260.0,5214.0,3357.0,3364.0,5052.0,3678.0,3926.0,3269.0,4036.0,45485.0
9,2018,249237,3934.0,3630.0,4138.0,4665.0,3163.0,4034.0,4261.0,5881.0,4139.0,5285.0,3932.0,3965.0,51027.0
10,2019,275481,3046.0,4110.0,4245.0,254.0,5457.0,5501.0,8036.0,10468.0,8896.0,15626.0,7417.0,18958.0,92014.0
11,2020,573210,10722.0,9189.0,18816.0,9551.0,10719.0,14988.0,15369.0,16249.0,23980.0,20538.0,17898.0,18052.0,186071.0
12,2021,661419,15057.0,14830.0,17591.0,15155.0,16216.0,18394.0,15925.0,0.0,0.0,0.0,0.0,0.0,113168.0